<div class="w3-row-padding container mycontent">
  <div class="w3-third w3-container w3-margin-bottom cards" *ngFor="let el of images">
    <img [src]="el.image" [alt]="el.name" style="width:100%" class="myimages img-fluid w3-card-3">
    <div class="w3-container w3-white">
      <p class="name">{{ el.name }}</p>
      <p>{{ el.description }}</p>
      <a (click)="myclick()" class="w3-btn w3-black mybtn" href="#">Visiter <i class="fas fa-arrow-circle-right"></i></a>
    </div>
    </div>
  </div>
<router-outlet></router-outlet>
