<div class="container mycontent pt-5">
  <div class="w3-container mx-auto w3-black col-5">
    <h2><i class="fas fa-lock"></i></h2>
  </div>
  <form class="w3-container mx-auto w3-card-4 col-5 pb-3">
    <br>
    <p>
      <label class="w3-text-grey">Addresse email</label>
      <input class="w3-input w3-border" formControlName="mail" type="text" required="">
    </p>
    <p>
      <label class="w3-text-grey">Mot de passe</label>
      <input class="w3-input w3-border" formControlName="passe" type="text" required="">
    </p>
    <br>
    <div class="w3-row">
      <div class="w3-col m6">
        <button type="submit" class="w3-btn w3-padding w3-black" style="width:120px">Connexion &nbsp; ❯</button>
      </div>
      <div class="w3-col m6">
        <a [routerLink]="['/inscription']" class="">Créer un compte.</a>
      </div>
    </div>
  </form>
</div>
