header {
	z-index: 2000;
	>nav {
		/*transform: scale(0.9);*/
		/* opacity: 0.8; */
		font-weight: 600;
    background-color: rgba(0, 0, 0, 0.664);
	}
	img {
		width: 100%;
		height: 50vh;
		object-fit: cover;
		transition: all 0.3s ease 0s;
		background-color: #000;
		/* opacity: 1;*/
		&:is(:hover) {
			transition: all 0.3s ease;
		}
	}
}

section {
  opacity: 0.8;
  padding: 0;
}

.headersocial {
   margin-left: 0;
   color: #fff;
   font-size: 1em;
   transition: all .05s ease;
}
.facebook {
    color: #fff;
    justify-content: center;
    align-items: center;
	  border-radius: 100%;
	  padding: 1px 4.4px 1px 4px;
		background-color: hsl(220, 46%, 48%);
		transition: all .05s ease;
	&:is(:hover) {
		transition: all .05s ease;
	}
}
.instagram {
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 1px 4.4px 1px 4px;
  transition: all .05s ease;
  background-color: hsl(313, 65%, 46%);
	&:is(:hover) {
		transition: all .05s ease;
	}
}
.snapchat {
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 1px 4.4px 1px 4px;
  transition: all .05s ease;
  background-color: hsl(59, 100%, 50%);
	&:is(:hover) {
		transition: all .05s ease;
	}
}
.twitter {
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 1px 4.4px 1px 4px;
  transition: all .05s ease;
  background-color: hsl(203, 89%, 53%);
	&:is(:hover) {
		transition: all .05s ease;
	}
}
.youtube {
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 1px 4.4px 1px 4px;
  transition: all .05s ease;
  background-color: hsl(0, 100%, 50%);
	&:is(:hover) {
		transition: all .05s ease;
	}
}
.pinterest {
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 1px 4.4px 1px 4px;
  transition: all .05s ease;
  background-color: hsl(357, 70%, 46%);
	&:is(:hover) {
		transition: all .05s ease;
	}
}
