//@import  "~bootstrap/dist/css/bootstrap.css" ;

  $black: #000000;
  $red: #f00;
  .container-password {
    position: relative;
  }
  .fa-eye, .fa-eye-slash {
    position: absolute;
    top: 35px;
    left: 500px;
  }
  .error {
    color: #f00;
  }

  .bgInvalid {
    background-color: rgba(250, 149, 149, 0.15);
  }
  label>b {
    color: #f00;
    &:after{
      content: '*';
    }
  }

  //div.cadre {
  //  width: 500px;
  //  height: 200px;
  //  border: 1px solid red;
  //  background-color: $red;
  //}
