<div class="container mycontent pt-5">
  <div class="w3-container mx-auto w3-black col-6">
    <h2><i class="fas fa-lock"></i></h2>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w3-container col-6 mx-auto w3-card-4 pt-3 pb-3">
    <div class="w3-col m12">
      <p>
        <label class="w3-text-grey">Addresse email <b></b></label> &nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf="submitted && f.email.errors">
          <span *ngIf="f.email.errors.required" class="error"> Veuillez renseigner votre addresse email.</span>
          <span *ngIf="f.email.errors.email" class="error"> Addresse email renseignée est invalide.</span>
        </span>
        <input class="w3-input w3-border" [ngClass]="{'bgInvalid': submitted && f.email.errors}" formControlName="username" type="email" required="">
      </p>
    </div>
    <div class="w3-col m12 w3-right container-password">
      <p>
        <label class="w3-text-grey">mot de passe <b></b></label> &nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf="submitted && f.password.errors">
          <span *ngIf="f.password.errors.required" class="error"> Veuillez renseigner votre mot de passe.</span>
          <span *ngIf="f.password.errors.minlength" class="error"> Le mot de passe doit contenir au minimum 6 caractères.</span>
        </span>
        <input class="w3-input w3-border" [ngClass]="{'bgInvalid': submitted && f.password.errors}" formControlName="password" required="" [type]="pwdHide ? 'text' : 'password'">
        <i (click)="showPassword()" [ngClass]="[pwdShow ? 'far fa-eye' : 'far fa-eye-slash', 'w3-right']"></i>
      </p>
    </div>

    <div class="w3-row">
      <div class="w3-col m6">
        <button type="submit" class="w3-btn w3-padding w3-black" style="width:120px">Connexion&nbsp; ❯</button>
      </div>
      <div class="w3-col m6 link-login">
        <a [routerLink]="['/inscription']" class="">Créer un compte.</a>
      </div>
    </div>
  </form>
</div>
